<!DOCTYPE html>
<html>
  <head>
    <link href='/css/styles.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>404</h1>
    <h2>You nunce</h2>
    <h2>You've done something wrong</h2>
  </body>
</html>
