<!DOCTYPE html>
<html>
  <head>
    <link href='/css/styles.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Spencer Anastasio</h1>
    <h2>1221 Winding Way</h2>
    <p>Nashville, TN  37216</p>
    <p>281.787.8388</p>
  </body>
</html>
