<!DOCTYPE html>
<html>
  <head>
    <link href='/css/styles.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Glen Spencer
    <h2>Welcome to the best Islay Whisky Database on the planet</h2>
    <p>You won't find a better peated scotch repo anywhere else</p>
  </body>
</html>
